.tweets {
    position: relative;
    margin-left: 330px;
    height: 100%;
}
.tweet {
    position: relative;
    margin: 15px;
    border-left-width: 3px;
    padding: 10px;
    padding-left: 7px;
}
.tweets-list {
    &:after {
        display: block;
        content: "";
        height: 100%;
    }
}
.owner_profile_image {
    display: block;
    float: left;
    margin-right: 10px;
    img {
        height: 48px;
        width: 48px;
    }
}
.owners-names {
    margin-bottom: 10px;
}
.tweet-content {
    margin-bottom: 0;
}
.tweet-entities {
    overflow: hidden;
    float: right;
    margin-left: 10px;
    width: 100px;
    min-height: 1px;
}
