.toolbox {

}
.list-container {
    overflow-y: auto;
    .progress {
        margin: 20px;
    }
}
.toolbox-button {
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}
