.tweets {
    .toolbox {
        background-color: $dark_light;
    }
    .list-container {
        background-color: $cloud;
    }
}

// tweet
.tweet {
    border-left-style: solid;
    border-left-color: $blue;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(#000, 0.1);
    &.read {
        border-left-style: solid;
        border-left-color: white;
    }
}
.tweet-detail {
    overflow: hidden;
}
.owners-names {
    font-size: 16px;
    line-height: 16px;

}
.tweet-link {
    margin-left: 15px;
    color: $gray;
    &:hover {
        text-decoration: none;
        color: black;
    }
}
