.setting-section {
    margin-left: 200px;
}

.setting-container {
    width: 80px + 40px + 512px;
    margin-left: 60px;
    padding-top: 40px;
}

.setting-content {
    width: 512px;
    float: right;
}
