<section class="section section-gray section-flexheight">
    <div class="container form-container">
        <!-- Form Message -->
        <% if flash[:forget_password_error] %>
            <div class="columns eight center message message-error form-messages">
                <%= flash[:forget_password_error] %>
            </div>
        <% elsif flash[:forget_password_success] %>
            <div class="columns eight center message message-success form-messages">
                <%= flash[:forget_password_success] %>
            </div>
        <% else %>
            <div class="columns eight center message">
                Enter the email asscociated with your account.
            </div>
        <% end %>

        <!-- Form -->
        <div class="columns six center">

            <%= form_tag({}, {:class => "forget-password-form"}) do |form| %>
                <div class="input-append">
                    <%= email_field_tag :forget_password_email, nil, :class => "input-box", :placeholder => "Email address" %>
                    <button type="submit" class="button button-green">OK</button>
                </div>
            <% end %>

        </div>
    </div>
</section>
