<!-- Intro -->
<section class="section">
    <div class="container">
        <h1 class="super">Messed Up Timeline?</h1>
    </div>
</section>

<section class="section section-blue">

</section>

<section class="section section-green">
    <div class="container">
        <div class="eight columns">
            <div class="intro-description">
                <h3>Pay attention to your favorite</h3>
                <p class="">You decide what is important and what should be muted. Manage all your "feeds" as your wish them to.</p>
            </div>
        </div>
    </div>
</section>

<section class="intro-section intro-about-beta">
    <div class="container">
        <div class="eight columns center">
            <div class="intro-description">
                <h3>We are still in BETA</h3>
                <p class="">Small Read is still beta testing. you can try it now. We will let you know when it's ready.</p>
                <div class="login-register-form">
                    <%= form_for :future_user, :html => {:'data-form-name' => 'signup_for_newsletter_form'} do |f| %>
                        <% if @future_user && !@future_user.errors[:email].empty? %>
                            <% @future_user.errors[:email].each do |m| %>
                                <span class="help-block alert alert-error"><%= m %></span>
                            <% end %>
                        <% end %>
                        <div class="input-prepend input-block-level">
                            <span class="add-on"><i class="icon-envelope-alt"></i></span>
                            <%= f.text_field :email, placeholder: 'Email', class: 'input-block-level' %>
                        </div>
                        <%= f.button "Let me know when it's ready.", :class => 'btn btn-block btn-primary' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
