<section class="intro-section login-section">
    <div class="container">

        <div class="six columns center">
            <!-- Login form -->
            <%= render "login_form" %>
        </div>

    </div>
</section>
