<section class="intro-section register-section">
    <div class="container">

        <div class="six columns center">
            <!-- Normal Register -->
            <%= render "register_form" %>
        </div>

    </div>
</section>
