<section class="section section-gray section-flexheight">
    <div class="container form-container">
        <!-- Form Message -->
        <% if flash[:reset_password_error] %>
            <div class="columns eight center message message-error form-messages">
                <%= link_to flash[:reset_password_error], :action => "forget_password" %>
            </div>
        <% else %>
            <div class="columns eight center message">
                Enter and confim your new password here.
            </div>

            <!-- Form -->
            <div class="columns six center">

                <%= form_tag({}, {:class => "reset-password-form"}) do |form| %>
                    <%= password_field_tag :reset_password, nil, :class => "input-box", :placeholder => "New password" %>
                    <%= password_field_tag :reset_password_confirmation, nil, :class => "input-box", :placeholder => "Confim password" %>
                    <button type="submit" class="button button-green">OK</button>
                <% end %>

            </div>

        <% end %>

    </div>
</section>
