/* #Basic Styles
================================================== */
body {
    background: #fff;
    font: 14px/21px $bodyFont;
    color: $gray6;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
