<!-- div.folder-list-item.alert.alert-info -->
<script type="text/template" id="folder-management-template">
    <div class="btn-group">
        <a class="btn btn-primary rearrange-folder">
            <i class="icon-resize-vertical"></i>
        </a>
        <button class="btn btn-primary rename-folder" {{ if (reserved === true) { }}
            {{= "disabled" }}
        {{ } }}>Rename</button>
    </div>
    <span class="folder-list-item-name">{{= name }}</span>
    <span class="folder-list-item-rename hide">
        <input type="text" value="{{= name }}">
        <button class="btn submit-folder-rename">Change</button>
    </span>
    <button class="btn btn-primary delete-folder" {{ if (reserved === true) { }}
            {{= "disabled" }}
        {{ } }}>
        <i class="icon-trash"></i>
    </button>
</script>
