<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
    <a class="button" href="#setting_modal">
        Settings
    </a>
    <h1 class="title">Following</h1>
    <a class="button-next" href="#">
        All News
    </a>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
    <ul class="list">
        <li>
            <a href="#">
                List item 1
                <span class="chevron"></span>
                <span class="count">4</span>
            </a>
        </li>
        <li>
            <a href="#">
                List item 2
                <span class="chevron"></span>
                <span class="count">1</span>
            </a>
        </li>
        <li>
            <a href="#">
                List item 3
                <span class="chevron"></span>
                <span class="count">5</span>
            </a>
        </li>
    </ul>
</div>

<div id="setting_modal" class="modal">
    <header class="bar-title">
        <h1 class="title">Modal</h1>
        <a class="button" href="#setting_modal">
            Close
        </a>
    </header>

    <div class="content content-padded">
        <p>The contents of my modal.</p>
    </div>
</div>
