// Common layouts
html, body {
	height: 100%;
}
.navbar {
    z-index: 1000;
}

// Setting page
.settings {
    margin-left: 80px;
}
.settings-body {
    padding: 20px;
    form {
        // display: table;
    }
}
