html,
body
{
    height: 100%;
}

.navbar {
    .navbar-login-button {
        margin-left: 20px;
    }
}

.full-height-wrapper {
    position: relative;
    min-height: 100%;
}

.intro-section {
    height: 410px;
    padding-top: 50px;
}

.intro-section:first-of-type {
    margin-top: 41px;
}
.intro-section:last-of-type {
    margin-bottom: 40px;
}

.twitter-widget {
    height: 450px;
}
