body {
    background-color: $cloud;

    &:after {
        content: "";
        display: block;
        height: 100%;
    }
}

.navbar-edge, .navbar-inner,
.main, .feed-showcase
// ,.feed-showcase tr,
// .feed-showcase td,
// .feed-image-tweet-body-hover
{
    transition: all 0.3s;
    // transition-delay: 0.1s;
    transform: translateZ(0);
}

$navbarEdgeColor: $blue_dark;
$navbarInnerColor: $blue;

.navbar-edge {
    background: $navbarEdgeColor;
    width: 20px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.hover-area {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.navbar-inner {
    width: 200px;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
}

$maxColumns: 4;
$itemWidth: 320px;

.main {
    margin-left: 20px;
    padding-top: 20px;
}

.feed-showcase {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: calc((100% - #{$itemWidth} * 3) / 4);
    margin-left: calc((100% - #{$itemWidth} * 3) / 4);
    height: 460px;
    width: $itemWidth;
    float: left;
    background: white;

    table {
        height: 100%;
        width: 100%;
        position: relative;
    }
}

// Hover State
// ----------------------------------------
.navbar-edge {
    &:hover {
        width: 200px;
        background-color: $navbarInnerColor;
        + .main {
            margin-left: 200px;
            margin-right: 20px;
            .feed-showcase {
                margin-left: 20px;
                margin-bottom: 20px;
            }
        }

        .navbar-inner {
            right: 0;
        }
    }
}

// Different Screen Size
@for $columns from 1 through $maxColumns {

    @media all and (max-width: 39px + ($itemWidth + 20px) * ($columns + 1)) and (min-width: 40px + ($itemWidth + 20px) * $columns) {

        .feed-showcase {
            margin-bottom: calc((100% - #{$itemWidth} * #{$columns}) / (#{$columns} + 1));
            margin-left: calc((100% - #{$itemWidth} * #{$columns}) / (#{$columns} + 1));
        }

    }

}
