$navbarEdgeColor: $cyan;
$navbarInnerColor: $cyan;
$maxColumns: 18;
$itemWidth: 320px;


.navbar-edge, .navbar-inner,
.main, .main-inner
{
    transition: all 0.2s;
    // Fixed postion of chidren element won't work if translateZ is enabled
    // transform: translateZ(0);
    // -webkit-transform: translateZ(0);
}

.navbar-edge {
    background: $navbarEdgeColor;
    width: 20px;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}

.hover-area {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.navbar-inner {
    width: 200px;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
}

.main {
    margin-left: 20px;
}

.main-inner {
    padding-top: 50px;
    padding-right: 20px;
    margin: 0 auto;
    width: 1020px;
}

.feed-showcase {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 548px;
    width: $itemWidth;
    float: left;
    background: white;

    table {
        height: 100%;
        position: relative;
    }
}

.navbar-edge {
    &.navbar-autohide-false {
        width: 200px;
        background-color: $navbarInnerColor;
        + .main {
            margin-left: 200px;
        }

        .navbar-inner {
            right: 0;
        }
    }
}

// Hover State
// ----------------------------------------
.navbar-edge {
    &:hover {
        width: 200px;
        background-color: $navbarInnerColor;
        + .main {
            margin-left: 200px;
        }

        .navbar-inner {
            right: 0;
        }
    }
}


// Different Screen Size
@for $columns from 1 through $maxColumns {

    // init state
    @media all and (max-width: 39px + ($columns + 1) * ($itemWidth + 20px)) and (min-width: 40px + $columns * ($itemWidth + 20px)) {

        .main-inner {
            width: $columns * ($itemWidth + 20px);
        }
    }

    // hover state
    @media all and (max-width: 219px + ($columns + 1) * ($itemWidth + 20px)) and (min-width: 220px + $columns * ($itemWidth + 20px)) {

        .navbar-edge {
            &:hover {
                + .main {
                    .main-inner {
                        width: $columns * ($itemWidth + 20px);
                    }
                }
            }

            &.navbar-autohide-false {
                + .main {
                    .main-inner {
                        width: $columns * ($itemWidth + 20px);
                    }
                }
            }
        }
    }

}
