// Container
// ----------------------------------------
.tweets-list {
    margin-left: 300px;
    padding-top: 46px;
}


// Toolbar
// ----------------------------------------
.tweets-toolbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 501px;
    right: 0;
    height: 45px;
    background-color: white;
    border-bottom: 1px solid $gray3;
}


// Tweet Item
// ----------------------------------------
.tweets-list-item {
    .tweet-text {
        padding-left: 0;
    }
}


// Old
// ----------------------------------------
.tweets-container-toolbar {
    transition: all 0.2s;
}


.tweets-container-toolbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 542px;
    height: 56px;
    left: 50%;
    margin-left: -261px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    border-radius: 0 0 2px 2px;

    .back-button {
        float: right;
        width: 56px;
        padding: 0;
    }
}

.navbar-edge {
    &:hover {
        + .main {
            .tweets-container-toolbar {
                margin-left: -261px + 90px;
            }
        }
    }
}


.tweets-container {
    width: 522px;
    margin: 0 auto;
    padding-top: 56px;
    bottom: 0;
}

.tweets-toolbar-button {
    font-size: 32px;
    line-height: 56px;
    padding: 0 10px;
    text-align: center;
    &:hover {
        background-color: $gray1;
    }
}

.tweets-list-item {
    background-color: white;
    overflow: hidden;

    border-right: 5px solid $blue;
    &.read {
        border-right-color: transparent;
    }

    .tweet-timestamp {
        float: right;
        color: $gray4;
        line-height: 23px;
        text-decoration: none;
        &:hover {
            color: $red;
            text-decoration: underline;
        }
    }

    .tweet-text {
        margin-bottom: 0;
        a {
            color: $red_dark;
            text-decoration: none;
            &:hover {
                color: $red;
            }
        }
    }

    &:hover {
        background-color: $gray1;
    }
}

.tweet-content {
    margin-left: 68px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.tweet-user-profile {
    position: relative;
    margin-top: 10px;
}

.user-profile-image {
    position: absolute;
    left: -58px;
    img {
        height: 48px;
        width: 48px;
        border-radius: 4px;
    }
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: black !important;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $red !important;
        .user-screen-name {
            color: $gray5 !important;
        }
    }
}

.user-screen-name {
    color: $gray3 !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.tweet-entities {
    margin-top: 10px;
}
