// Cell Style
// ----------------------------------------
.feed-image-row {

    &.has-cover-image {
        .feed-cover-text {
            display: none;
        }
    }

    &.no-cover-image.very-long-text {
        .top-image-tweet-text {
            font-size: 16px;
        }
    }
}

.feed-image-cell {
    height: 100%;
    background-size: cover;
}

.feed-cover-text-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.feed-cover-text {
    position: absolute;
    top: 50%;
    transform:         translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    padding: 10px 15px;
    .top-image-tweet-text {
        font-size: 21px;
    }
}

.feed-image-hover-plate {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    display: none;
}

.feed-image-tweet-body {
    position: absolute;
    bottom: 0;
    padding: 5px 5px 5px 10px;
    background: rgba(255, 255, 255, 0.4);
}

.feed-image-tweet-body-hover {
    opacity: 0;
    position: absolute;
    z-index: -100;
    bottom: 0;
    padding: 10px 15px;
    background: white;
}

.feed-top-tweet-cell {
    padding: 5px 5px 5px 10px;
    border-top: 1px solid #d6d6d6;
}

.tweet-text {
    margin: 0;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.top-image-tweet-text {
    width: 290px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.tweet-timestamp {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    margin: 0;
    text-align: right;
    color: #999;
}

.feed-profile-cell {
    height: 45px;
    border-top: 1px solid #d6d6d6;

    img {
        width: 35px;
        height: 35px;
        margin: 5px;
        float: left;
    }
}

.profile-detail {
    float: left;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
}

.profile-screen-name {
    color: #999;
    font-size: 12px;
    a {
        color: inherit;
        text-decoration: none;
    }
    span {
        color: $blue;
        display: none;
        text-decoration: underline;
    }
}

.feed-unread-count {
    float: right;
    background-color: $blue_dark;
    color: white;
    font-weight: bold;
    font-size: 24px;
    height: 100%;
    width: 45px;
    text-align: center;
    line-height: 45px;
}

// Hover State
// ----------------------------------------
.feed-image-row {
    &.has-cover-image:hover {
        ~ tr {
            opacity: 0;
            td {
                border-top-color: rgba(255,255,255,0);
            }
        }

        .feed-image-hover-plate {
            display: block;
            z-index: 90;
        }

        .feed-image-tweet-body-hover {
            opacity: 1;
            z-index: 100;
        }
    }
}

.feed-profile-cell {
    &:hover {
        .profile-screen-name span {
            display: inline;
        }
    }
}
