// Section backgrounds
// ===================
.intro-section {
    .container {
        height: 100%;
    }
}
.intro-banner {
    background-image: url("http://placeimg.com/1000/500/nature");
    background-size: cover;
}
.intro-read-count {
    .container {
        background-image: image-url("read_count.png");
        background-size: cover;
    }
}
.intro-manage-feeds {
    background-color: $blue;
    .container {
        background-image: image-url("manage_feeds.png");
        background-size: cover;
    }
}

// Descriptions
// ============
.intro-description {
    padding: 20px;
    background: $green_dark;
    color: white;
    h3 {
        margin: 0 0 10px 0;
    }
}
.intro-banner {
    .intro-description {
        margin-top: 40px;
        background-color: rgba(#000, 0.7);
        padding: 40px;
    }
}
.intro-lead-description {
    text-align: center;
}

// Login page
// ==========
.login-section {
    height: 500px;
}

// Backgrounds
// ===========
body.outside-login,
body.outside-register,
body.outside-forget_password,
body.outside-reset_password
{
    background-color: $cloud;
}
