footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #1B1B1B;
    color: $gray;
    line-height: 40px;
}
.footer-right {
    text-align: right;
}
