// Common
.toolbox {
    position: relative;
    height: 34px;
}
.toolbox-button {
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    min-width: 24px;
    height: 34px;
    color: white;
    &:hover {
        text-decoration: none;
        color: white;
    }
    label {
        line-height: 34px;
        margin-bottom: 0;
    }
}

// Feeds
.feeds {
    .toolbox {
        .toolbox-button {
            width: 34px;
            &:hover {
                background-color: lighten($green, 10%);
            }
        }
        i {
            height: 100%;
            width: 100%;
            float: left;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
        }
        #manage_folder {
            float: right;
        }
    }
}

// Tweets
.toolbox-button-tweets {
    padding: 0 10px;
    &:hover {
        background-color: $red;
    }
}
.display-only-unread {
    padding-left: 34px;
}
.icheckbox_square-blue {
    position: absolute;
    left: 6px;
    top: 6px;
    background-color: $gray3;
}
#mark_all_read {
    float: right;
}
