.settings-folders {
    .lead-title {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 40px;
        color: #333333;
        border: 0;
        border-bottom: 1px solid $gray3;
    }
}

// Manage Folders
// ==============
.create-new-folder-block {
    margin-bottom: 20px;
}

.folder-list-item {
    margin-bottom: 0;
    // border: none;
    // border-bottom: 1px solid $blue;
    :last-child {
        // border-bottom: none;
    }
}

.folder-list-item-name {
    margin-left: 30px;
}

.delete-folder {
    float: right;
}

// Re-arrange Feeds
// ================
.feeds-management {

    .folder-title {
        margin: 0;
        font-variant: small-caps;
        border-bottom: 1px solid $blue;
    }

    // Feeds
    $manage_folder_feed_height: 32px;
    .folder-feeds-container {
        margin-top: 5px;
        min-height: $manage_folder_feed_height;
    }
    .feed-item {
        height: $manage_folder_feed_height;
        width: $manage_folder_feed_height * 5;
        float: left;
        white-space: nowrap;
        margin-bottom: 10px;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: $manage_folder_feed_height;
        img {
            float: left;
            margin-right: 5px;
            height: $manage_folder_feed_height;
            width: $manage_folder_feed_height;
        }
        .feed-name {
            margin: 0;
            font-size: 14px;
        }
    }

    // Sortable
    .sortable-placeholder {
        height: $manage_folder_feed_height - 2px;
        width: $manage_folder_feed_height * 5 - 2px;
        border: 1px dashed $blue;
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
    }

} // .manage-folders

.jump-to-edit-folder-button {
    margin-left: 15px;
    span {
        opacity: 0;
    }
    &:hover {
        text-decoration: none;
        small {
            color: black;
        }
        span {
            opacity: 1;
        }
    }
}
