.feeds-not-synced-yet {
    padding: 50px 100px;
    text-align: center;
    h1 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 50px;
    }
    p {
        font-size: 16px;
        padding: 0 100px;
    }
}
