//= require ratchet.css


// Feeds and Folders
// -----------------
.feed-item a {
    padding-left: 57px !important;
}

.feed-item-image {
    height: 37px;
    width: 37px;
    position: absolute;
    top: 10px;
    left: 10px;
}

// Tweets
// ------
.tweets-list {
    &:after {
        display: block;
        content: "";
        height: 100%;
    }
}
.tweet-list-item {
    padding: 10px 10px 10px 14px !important;
}
.tweet-list-item.read {
    opacity: 0.4;
}
.tweet-user-avatar {
    height: 37px;
    width: 37px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.tweet-content {
    margin-left: 47px;
}
.tweet-user-name {
    color: #666;
}
