<!-- div.feed.list-container-item -->
<script type="text/template" id="feed-template">
    <a href="#" class="item-face">
        <img class="item-icon-left feed-profile-image" src="{{= profile_image_url }}">
        <div class="feed-name">{{= name }} <span class="feed-screen-name">@{{= screen_name }}</span></div>
        <span class="item-icon-right unread-count">{{= unread_count }}</span>
    </a>
    <div class="list-item-hover">
        <a href="#" class="item-icon-left icon-star feed-option-fav"></a>
        <a href="#" class="item-icon-right icon-angle-down feed-option-more"></a>
    </div>
</script>

<!-- div.tweet.clearfix -->
<script type="text/template" id="tweet-template">
    <a class="owner_profile_image" href="#">
        <img ng-src="{{ tweet.profile_image_url }}">
    </a>
    <div class="tweet-entities">
        <a magnific-popup ng-repeat="media in tweet.entities.media" class="twitter-entity-image" ng-href="{{ media.media_url }}"></a>
    </div>
    <div class="tweet-detail">
        <div class="owners-names">
            <a class="original-owner-name" href="http://twitter.com/{{ tweet.screen_name }}" target="_blank">{{ tweet.name }}
                <span class="original-owner-screen_name">@{{ tweet.screen_name }}</span>
            </a>
            <a href="http://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.id_str }}" target="_blank" class="tweet-link"><i class="icon-link"></i></a>
        </div>
        <p class="tweet-content" ng-bind-html="tweet.text | tweetTextFilter:tweet.entities"></p>
    </div>
</script>

<!-- div.tweet.clearfix -->
<script type="text/template" id="retweet-template">
    <a class="owner_profile_image" href="#">
        <img ng-src="{{ tweet.retweeted_status_user_profile_image_url }}">
    </a>
    <div class="tweet-entities">
        <a magnific-popup ng-repeat="media in tweet.entities.media" class="twitter-entity-image" ng-href="{{ media.media_url }}"></a>
    </div>
    <div class="tweet-detail">
        <div class="owners-names">
            <a class="original-owner-name" href="http://twitter.com/{{ tweet.retweeted_status_user_screen_name }}" target="_blank">{{ tweet.retweeted_status_user_name }}
                <span class="original-owner-screen_name">@{{ tweet.retweeted_status_user_screen_name }}</span>
            </a>
            Retweeted by
            <a class="owner-name" href="http://twitter.com/{{ tweet.screen_name }}" target="_blank">{{ tweet.name }}
                <span class="owner-sreen_name">@{{ tweet.screen_name }}</span>
            </a>
            <a href="http://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.id_str }}" target="_blank" class="tweet-link"><i class="icon-link"></i></a>
        </div>
        <p class="tweet-content" ng-bind-html="tweet.text | tweetTextFilter:tweet.entities"></p>
    </div>
</script>
