<!-- div.folder.list-container-item -->
<script type="text/template" id="folder-template">
    <a href="#" class="item-face folder-face">
        <div class="folder-name">{{= name }}</div>
        <span class="item-icon-right unread-count">{{= unread_count }}</span>
    </a>
    <div class="list-item-hover">
        <a href="#" class="item-icon-right icon-angle-down feed-option-more"></a>
    </div>
    <div class="folder-feeds-list">

    </div>
</script>

<!-- div.feed.list-container-item -->
<script type="text/template" id="feed-template">
    <a href="#" class="item-face">
        <img class="item-icon-left feed-profile-image" src="{{= profile_image_url }}">
        <div class="feed-name">{{= name }} <span class="feed-screen-name">@{{= screen_name }}</span></div>
        <span class="item-icon-right unread-count">{{= unread_count }}</span>
    </a>
    <div class="list-item-hover">
        <a href="#" class="item-icon-left icon-star feed-option-fav"></a>
        <a href="#" class="item-icon-right icon-angle-down feed-option-more"></a>
    </div>
</script>

<!-- div.tweet.clearfix -->
<script type="text/template" id="tweet-template">
    <a class="owner_profile_image" href="#">
        <img src="{{= profile_image_url }}">
    </a>
    <div class="tweet-entities">
        {{ if (entities_image !== null) { }}
            <img src="{{= entities_image }}" />
        {{ } }}
    </div>
    <div class="tweet-detail">
        <div class="owners-names">
            <a class="original-owner-name" href="#">{{= name }}
                <span class="original-owner-screen_name">{{= screen_name }}</span>
            </a>
            {{ if (is_status_a_retweet === true) { }}
                Retweeted by
                <a class="owner-name" href="#">{{= this_user_name }}
                    <span class="owner-sreen_name">{{= this_user_screen_name }}</span>
                </a>
            {{ } }}
        </div>
        <p class="tweet-content">{{= text }}</p>
    </div>
</script>
