<div class="main-container">
    <div class="feed-beauty">
        <div class="cover-image-wrapper clearfix">
            <img src="http://placeimg.com/300/300/any" alt="">
            <a href="" class="fold-corner"></a>
        </div>
        <div class="top-tweets">
            <div class="top-tweet">Talking to trees and scanning QR codes, two things perfectly sane and rational people do. http://t.co/Pa2mlPNR56</div>
            <div class="top-tweet">Talking to trees and scanning QR codes, two things perfectly sane and rational people do. http://t.co/Pa2mlPNR56</div>
        </div>
        <a class="more-tweets-count">
            <div class="count-body">999</div>
            <div class="top-triangle"></div>
            <div class="right-triangle"></div>
        </a>
        <div class="feed-actions"></div>
    </div>
</div>
