<div class="main clearfix">
    <div ng-repeat="feed in feeds" class="feed-showcase">
        <table>

            <tr class="feed-image-row">
                <td class="feed-image-cell" ng-style="feed.coverBg" >
                    <div class="feed-image-hover-plate"></div>
                    <div class="feed-image-tweet-body-hover">
                        <p class="tweet-text top-image-tweet-text" ng-bind-html="feed.coverTweet.text | tweetTextFilter:feed.coverTweet.entities"></p>
                        <p class="tweet-timestamp">{{feed.coverTweet.createdAt}}</p>
                    </div>
                </td>
            </tr>

            <tr ng-repeat="topTweet in feed.topTweets">
                <td class="feed-top-tweet-cell">
                    <p class="tweet-text" ng-bind-html="topTweet.text | tweetTextFilter:topTweet.entities"></p>
                    <p class="tweet-timestamp">{{topTweet.createdAt}}</p>
                </td>
            </tr>

            <tr>
                <td class="feed-profile-cell">
                    <img ng-src="{{feed.profileImageUrl}}" alt="">
                    <div class="profile-detail">
                        <div class="profile-name">{{feed.name}}</div>
                        <div class="profile-screen-name">
                            <a ng-href="http://twitter.com/{{feed.screenName}}" target="_blank">
                                @{{feed.screenName}}
                                <span>open in Twitter.com</span>
                            </a>
                        </div>
                    </div>
                    <div class="feed-unread-count">{{feed.unreadCount}}</div>
                </td>
            </tr>

        </table>
    </div>
</div>
