<div class="main clearfix">
    <div class="feed-showcase">
        <table>
            <tr class="feed-image-row">
                <td class="feed-image-cell" style="background: url('http://placeimg.com/320/320/any');">
                    <div class="feed-image-tweet-body-hover">
                        <p class="tweet-text top-image-tweet-text">This is a tweets text tweet This is a tweets text tweet This is a tweets text tweetThis is a tweets text tweetThis is a tweets text tweetaaaaaaa</p>
                        <p class="tweet-timestamp">1h ago</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="feed-top-tweet-cell">
                    <p class="tweet-text">This is a tweets text tweet This is a tweets text tweet This is a tweets text tweet</p>
                    <p class="tweet-timestamp">1h ago</p>
                </td>
            </tr>
            <tr>
                <td class="feed-top-tweet-cell">
                    <p class="tweet-text">This is a tweets text tweet This is a tweets text tweet This is a tweets text tweet</p>
                    <p class="tweet-timestamp">1h ago</p>
                </td>
            </tr>
            <tr>
                <td class="feed-profile-cell">
                    <img src="http://a0.twimg.com/profile_images/2182907658/heroku-logo-for-facebook_normal.png" alt="">
                    <div class="profile-detail">
                        <div class="profile-name">Heroku</div>
                        <div class="profile-screen-name">@heroku</div>
                    </div>
                    <div class="feed-unread-count">13</div>
                </td>
            </tr>
        </table>
    </div>
</div>
