<div class="main clearfix">
    <div ng-repeat="feed in feeds" class="feed-showcase">
        <table>
            <!-- Cover Tweet -->
            <tr class="feed-image-row" ng-class="feed.coverTextClass">
                <td class="feed-image-cell" ng-style="feed.coverBg" >
                    <div class="feed-cover-text-container">
                        <div class="feed-cover-text">
                            <p class="tweet-text top-image-tweet-text" ng-bind-html="feed.coverTweet.text | tweetTextFilter:feed.coverTweet.entities"></p>
                            <p class="tweet-timestamp"><a ng-href="http://twitter.com/{{feed.screenName}}/status/{{feed.coverTweet.idStr}}" target="_blank">{{feed.coverTweet.createdAt | tweetTimestampFilter}}</a></p>
                            <p class="feed-cover-show-more"><a href="">Show All Tweets</a></p>
                        </div>
                    </div>
                    <div class="feed-cover-show-more-container">
                        <p class="feed-cover-show-more"><a href="">Show All Tweets</a></p>
                    </div>
                    <div class="feed-image-hover-plate"></div>
                    <div class="feed-image-tweet-body-hover">
                        <p class="tweet-text top-image-tweet-text" ng-bind-html="feed.coverTweet.text | tweetTextFilter:feed.coverTweet.entities"></p>
                        <p class="tweet-timestamp"><a ng-href="http://twitter.com/{{feed.screenName}}/status/{{feed.coverTweet.idStr}}" target="_blank">{{feed.coverTweet.createdAt | tweetTimestampFilter}}</a></p>
                    </div>
                </td>
            </tr>

            <!-- More Top Tweets -->
            <tr ng-repeat="topTweet in feed.topTweets">
                <td class="feed-top-tweet-cell">
                    <p class="tweet-text" ng-bind-html="topTweet.text | tweetTextFilter:topTweet.entities"></p>
                    <p class="tweet-timestamp"><a ng-href="http://twitter.com/{{feed.screenName}}/status/{{topTweet.idStr}}" target="_blank">{{topTweet.createdAt | tweetTimestampFilter}}</a></p>
                </td>
            </tr>

            <!-- Feed Profile -->
            <tr>
                <td class="feed-profile-cell">
                    <img ng-src="{{feed.profileImageUrl}}" alt="">
                    <div class="profile-detail">
                        <div class="profile-name">{{feed.name}}</div>
                        <div class="profile-screen-name">
                            <a ng-href="http://twitter.com/{{feed.screenName}}" target="_blank">
                                @{{feed.screenName}}
                                <span>open in Twitter.com</span>
                            </a>
                        </div>
                    </div>
                    <a href="" class="feed-unread-count">{{feed.unreadCount}}</a>
                </td>
            </tr>


        </table>
    </div>
</div>
