<div class="main feeds-not-synced-yet">
    <div class="feeds-not-synced-yet">
        <h1>This is your first time using a Twitter account, pealse give us one minitues to serve you.</h1>
        <p>What we are doing here is fetching your Twitter friends and timeline, then recontruct them. Eventually you will see a organized timeline when you refresh.</p>
    </div>
</div>
