<%= render :layout => 'layouts/htmldoc' do %>
    <%= render 'settings/settings_navbar_side' %>
    <section class="setting-section">
        <div class="setting-container">
            <%= render 'settings/settings_section_nav' %>
            <div class="setting-content">
                <%= yield %>
            </div>
        </div>
    </section>
<% end %>
