<%= render :layout => 'layouts/htmldoc' do %>
    <%= render 'settings/settings_navbar_side' %>
    <section class="settings-section">
        <%= render 'settings/settings_section_nav' %>
        <%= yield %>
    </section>
<% end %>
